@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

h1 {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    text-align: center;
}
h2 {
    font-family: "Cookie", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
}

p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  text-align: justify;
  background-image: linear-gradient(to right, #A2DEB0, #a7bd8c, #A6DEC6);
  margin: 100px;
  font-family: "Cormorant Garamond", serif; 
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
}
